@import "tailwindcss";

@theme {
  --font-family-sans: var(--font-montserrat), system-ui, sans-serif;

  --color-gray-light: #e5e5e5;
  --color-dark: #0a0a0a;
  --color-dark-gray: #171717;
  --color-text-gray-50: #f9f9f9;

  --shadow-button: 0px 1px 2px 0px rgba(0, 0, 0, 0.09);
}

